@model Goldfinch.Models.ViewModels.BlogListViewModel

@{
    ViewBag.Title = @Model.BlogListing?.SeoMetaTitle;
}

<div class="">
    <h1 class="">@Model.BlogListing?.BaseTitle</h1>
    <div class="">
        @*@foreach (var item in Model.BodyCopy.Blocks)
            {
                @Html.Raw(item);

            }*@
        @*@await Html.PartialAsync("_Test")*@
    </div>
</div>
<stylesheet file="bloglist"></stylesheet>