.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .blog-card {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 25px;
    border: 1px solid var(--border-colour);
    transition: border-color 0.2s linear;

    &:hover {
      border: 1px solid var(--highlight-colour);
    }

    @media (min-width: 768px) {
      flex: 0 1 49%;
    }
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0px;
  margin: 0px;

  li {
    margin: 0px 0px 0px 15px;
    padding-left: 0;
  }
}
