@import "base/normalize";
@import "base/fonts";

:root {
  --font-colour: #444444;
  --bg-colour: #ffffff;
  --border-colour: #ebebeb;
  --highlight-colour: #444444;
  --card-bg-colour: #ebebeb;
}

[data-theme="dark"] {
  --font-colour: #bdc1c6;
  --bg-colour: #202124;
  --border-colour: #3c4043;
  --highlight-colour: #bcc0c3;
  --card-bg-colour: #bcc0c3;
}

html {
  font: 112.5%/1.45 "Open Sans", sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background: var(--bg-colour);
  color: var(--font-colour);
}

a {
  font-weight: bold;
  color: var(--font-colour);
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

main {
  flex: 1 1 0%;
  width: 100%;
  max-width: 1200px;
  padding: 40px 20px;
}

h1 {
  font-family: "Roboto", "Arial", sans-serif;
}

strong {
  word-break: break-word;
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 0 25px 0;

  img {
    max-width: 100%;
    padding: 0;
    margin: 0 0 25px 0;
    border-style: none;
  }

  figcaption {
    font-style: italic;
    font-size: 16px;
  }
}

@import "components/component-header";
@import "components/component-footer";
