.footer {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  border-top: 1px solid var(--border-colour);

  section {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 20px;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    font-weight: bold;
  }

  .social-media {
    display: flex;

    &__link {
      margin-left: 5px;
      text-decoration: none;

      svg {
        width: 30px;
        height: 30px;
        fill: var(--font-colour);
      }
    }
  }
}
