.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: #ebebeb;

  &__name {
    font-weight: bold;
  }

  .social-media {
    display: flex;

    &__link {
      margin-left: 5px;
      text-decoration: none;
    }
  }
}
