footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: #ebebeb;

    span {
        font-weight: bold;
    }
}
