@model Goldfinch.Models.ViewModels.ErrorViewModel;

@{
    ViewBag.Title = Model.Error.SeoMetaTitle;
    ViewBag.Canonical = string.IsNullOrWhiteSpace(Model.Error.SeoCanonicalUrl) ? Model.CurrentUrl : Model.Error.SeoCanonicalUrl;
}

<div>
    <h1>@Model.Error.BaseTitle</h1>
    <div>
        @Html.DisplayFor(vm => vm.Error.BodyCopy)
    </div>
</div>