<footer class="footer">
    <section>
        <span class="footer__name">Liam Goldfinch</span>
        <div class="social-media">
            <a href="https://github.com/liamgold/" class="social-media__link" target="_blank" rel="noopener noreferrer">
                <span class="sr-only">GitHub</span>
                <img src="/assets/images/github-square.svg" alt="GitHub" width="30" height="30" />
            </a>
            <a href="https://twitter.com/LiamGoldfinch" class="social-media__link" target="_blank" rel="noopener noreferrer">
                <span class="sr-only">Twitter</span>
                <img src="/assets/images/twitter-square.svg" alt="Twitter" width="30" height="30" />
            </a>
        </div>
    </section>
</footer>