<header class="header">
    <section>
        <a href="/">
            <span class="sr-only">Liam Goldfinch</span>
            <img src="/assets/images/liam.jpg" class="picture" alt="Liam Goldfinch" width="100" height="100" />
        </a>
        <div>
            <p>Liam Goldfinch</p>
            <p>.NET developer</p>
        </div>
    </section>
    <nav class="navigation">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/blog/">Blog</a>
            </li>
        </ul>
    </nav>
</header>