@using Statiq.Common

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@IExecutionContext.Current.GetLink("/assets/styles/global.css")" />
    [ComponentStyles]
</head>

<body>
    <partial name="_Header" />
    <main>
        @RenderBody()
    </main>
    <partial name="_Footer" />
</body>

</html>