@model Goldfinch.Models.ViewModels.BlogDetailViewModel;

@{
    ViewBag.Title = Model.BlogDetail.SeoMetaTitle;
    ViewBag.Canonical = string.IsNullOrWhiteSpace(Model.BlogDetail.SeoCanonicalUrl) ? Model.CurrentUrl : Model.BlogDetail.SeoCanonicalUrl;
    ViewData["SeoData"] = Model.SeoData;
}

<div class="blog-detail">
    <h1>@Model.BlogDetail.BaseTitle</h1>
    <span>@Model.BlogDetail.PostDate?.ToString("dd/MM/yyyy")</span>
    <div class="blog-detail__body">
        @Html.DisplayFor(vm => vm.BlogDetail.BodyCopy)
    </div>
</div>
<stylesheet file="blogdetail"></stylesheet>