@model Goldfinch.Models.ViewModels.BlogDetailViewModel;

@{
    ViewBag.Title = Model.BlogDetail.SeoMetaTitle;
    ViewBag.Canonical = string.IsNullOrWhiteSpace(Model.BlogDetail.SeoCanonicalUrl) ? Model.CurrentUrl : Model.BlogDetail.SeoCanonicalUrl;
    ViewData["SeoData"] = Model.SeoData;
}

<div>
    <h1>@Model.BlogDetail.BaseTitle</h1>
    <div>
        @Html.DisplayFor(vm => vm.BlogDetail.BodyCopy)
    </div>
</div>