@model Goldfinch.Models.Home;

@{
    ViewBag.Title = $"{Model.SeoMetaTitle} · Liam Goldfinch";
}

<div>
    <h1>@Model.BaseTitle</h1>
    <div>
        @foreach (var item in Model.BodyCopy.Blocks)
        {
            @Html.Raw(item);
        }
    </div>
</div>