@model Goldfinch.Models.Home;

@{
    ViewBag.Title = @Model.SeoMetaTitle;
}

<div class="">
    <h1 class="">@Model.BaseTitle</h1>
    <div class="">
        @foreach (var item in Model.BodyCopy.Blocks)
        {
            @Html.Raw(item);

        }
        @*@await Html.PartialAsync("_Test")*@
    </div>
</div>
<stylesheet file="home"></stylesheet>